.page-content {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 16px;   
    .page1 {
        grid-column: span 12;
    }
    .sort-container.open {
        display: block;
        text-align: left;
        padding-left: 10px;
        border: #282727 solid 2px;
        margin-top: 50px;
        font-size: 1.8rem;
    }
    .filter-button {
        background-color: white;
        border: black 1px solid;
        border-radius: 7px;
        padding: 8px 12px;
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
        float: left;
        margin-left: 5px;
        margin-top: 10px;
    }
    h2 {
        font-size: 3rem;
    }
    .category-radio {
        font-size: 1.8rem;
    }
    .price-range {
        font-size: 1.8rem;
    }
    span {
        font-size: 1.8rem;
    }
    .products {
        font-size: 1.8rem;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 16px;
        .product-container {
            grid-column: span 3;
        }
    }
    .page2 {
        grid-column: span 12;
        text-align: center;
        .cart-container { 
            font-size: 2rem;           
            .cart-summary {
                border: #282727 solid 2px;
                height: 300px;
                display: grid;
                grid-template-columns: repeat(12, minmax(0, 1fr));
                gap: 16px;
                align-items: center;
                justify-content: center;
                img {
                    width: 300px;
                    grid-column: span 5;
                }
                .cart-name {
                    grid-column: 6 / span 3;
                    font-weight: bold;
                    font-size: 2rem;
                }
                .cart-amount {
                    grid-column: span 2;
                    font-size: 2rem;
                }
                .cart-sum {
                    grid-column:  span 1;
                    font-size: 2rem;
                }
                .material-symbols-outlined {
                    grid-column: span 1;
                    font-size: 3rem;
                }
            }
        }
    }
    .page3 {
        grid-column: span 12;
        form {
            font-size: 2rem;
            span {
                font-size: 2rem;
            }
            input[type=text] {
                width: 100%;
                padding: 20px;
                border-radius: 2px;
                margin-top: 5px;
                margin-bottom: 14px;
                box-sizing: border-box;
                font-size: 2rem;
            }
            .checkboxes {
                font-size: 2rem;
            }
            .form-buttons {
                font-size: 2rem;
            }
        }
    }
}