@mixin visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
}
  
.shake {
    animation: shake 0.2s ease;
}

body,
body:not(.dark-theme) {
    background-color: white;
    color: black;

    .cart-summary .material-symbols-outlined {
        color: black;
    }
}

body.dark-theme {
    background-color: #1E1E1E;
    color: white;

    .add,
    .subtract,
    .addProduct {
        background-color: white;
        color: black;
    }

    .cart-summary .material-symbols-outlined {
        color: white;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #1E1E1E;
        color: white;
    }

    .add,
    .subtract,
    .addProduct {
        background-color: white;
        color: black;
    }
}

main {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
}

header {
    grid-column: span 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100vw;
    position: fixed;
    background-color: #1E1E1E;
    top: 0;
    border-bottom: 1px white solid;
    color: white;
}

nav.open {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgb(38, 38, 38);
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

nav:not(.open) {
    @include visually-hidden;
}

ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0; 
    padding: 0; 
    height: 100%;
}

li {
    font-size: 2rem;
    margin: 30px;

    a {
        text-decoration: none;
        color: white;
    }
}

.menu-button {
    z-index: 2;
    width: 35px;
    height: 35px;
    border: 0;
    color: white;
    cursor: pointer;
    background: transparent;

    span {
        display: block;
        background: white;
        width: 35px;
        height: 4px;
        border-radius: 4px;
        margin-bottom: 4px;
        transition: all 0.3s ease-in-out;
        z-index: 3;
    }

    &.open {
        span:nth-child(2) {
            display: none;
        }

        span:nth-child(1) {
            transform: rotate(-45deg) translate(-2px);
        }

        span:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -4px);
        }
    }
}

h1 {
    display: flex;
    margin: 0 auto;
    color: white;
    font-size: 1.3rem;
    align-items: center;
    text-transform: uppercase;
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.theme-toggle-button {
    margin-right: 20px;
    background-color: #1E1E1E;
    border: none;
    width: 35px;
    height: 35px;
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.page-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
    margin-top: 50px;

    h2 {
        text-align: center;
        margin-top: 50px;
    }

    .page1 {
        grid-column: span 4;
        text-align: center; 
        .sort-container {
            width: 100%;
            height: auto;
            display: none;
        }       
        .sort-container.open {
            display: block;
            text-align: left;
            padding-left: 10px;
            border: #282727 solid 2px;
            margin-top: 50px;
        }
        .filter-button {
            background-color: white;
            border: black 1px solid;
            border-radius: 15px;
            padding: 8px 12px;
            font-weight: bold;
            text-transform: uppercase;
            float: left;
            margin-left: 5px;
            margin-top: 10px;
        }
        .products {
            margin-top: 70px;
        }
        .image-container {
            width: 300px;
            height: 300px;
            overflow: hidden;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .product-details {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .buttons-container {
            display: inline-block;
        }
        .add,
        .subtract {
            width: 35px;
            height: 35px;
            font-size: 1.8rem;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 4px;
        }
    }

    .page2 {
        grid-column: span 4;
        text-align: center;

        .cart-container {
            .cart-summary {
                border: #282727 solid 2px;
                height: 170px;
                display: grid;
                grid-template-columns: repeat(6, minmax(0, 1fr));
                gap: 16px;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;
                    height: auto;
                    grid-column: span 2;
                }

                .cart-name {
                    grid-column: 3 / span 1;
                    font-weight: bold;
                }

                .cart-amount {
                    grid-column: span 1;
                }

                .cart-sum {
                    grid-column: span 1;
                }

                .material-symbols-outlined {
                    grid-column: span 1;
                    background: none;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

    .page3 {
        margin: 20px;
        grid-column: span 4;
        input[type=name], input[type=address], input[type=housenr], input[type=zip], input[type=city], input[type=code], input[type=phone], input[type=email], input[type=discount] {
            width: 100%;
            padding: 10px;
            border-radius: 2px;
            margin-top: 5px;
            margin-bottom: 14px;
            box-sizing: border-box;
        }

        .reset-button {
            background-color: white;
            border: 1px solid black;
            color: black;
            padding: 10px 15px;
            border-radius: 15px;
            cursor: pointer;
        }

        .reset-button:hover {
            background-color: rgb(217, 108, 108);
        }

        input[type=number] {
            width: 100%;
            padding: 10px;
            border-radius: 2px;
            margin-top: 5px;
            margin-bottom: 14px;
            box-sizing: border-box;
        }

        .card-date {
            display: block;

            input.small {
                width: 80px;
            }
        }

        .hidden {
            display: none;
        }
        .submit-button, .order-button {
            border: 1px solid black;
            color: black;
            padding: 10px 15px;
            border-radius: 15px;
            cursor: pointer;
        }
        .error {
            display: block;
            color: red;
            margin-bottom: 5px;
            font-style: oblique;
        }
    }
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: rgb(38, 38, 38);
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(38, 38, 38);
        border: 2px solid black;
        padding: 20px;
        text-align: center;
    }
    .confirm-button {
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
    }
}