@mixin visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body,
body:not(.dark-theme) {
    background-color: white;
    color: black;
    .subtract, .add, .addProduct {
        background-color: black;
        color: white;
    }
}

body.dark-theme {
    background-color: #1E1E1E;
    color: white;
    .add, .subtract, .addProduct {
        background-color: white;
        color: black;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #1E1E1E;
        color: white;
    }
}
main {
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
} 
header {
    grid-column: span 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100vw;
    position: fixed;
    background-color: #1E1E1E;
    top: 0;
    border-bottom: 1px white solid;
    color: white;
}

nav.open {
    display: block;
    height: 300vh;
    width: 100vw;
    position: fixed;
    background-color: rgb(38, 38, 38);
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav:not(.open) {
    @include visually-hidden;
}
ul {
    margin-top: 50%;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li {
    font-size: 2rem;
    margin: 30px;
    a {
        text-decoration: none;
        color: white;
    }
}

.menu-button {
    z-index: 2;
    width: 35px;
    height: 35px;
    border: 0;
    color: white;
    cursor: pointer;
    background: transparent;

    span {
        display: block;
        background: white;
        width: 35px;
        height: 4px;
        border-radius: 4px;
        margin-bottom: 4px;
        transition: all 0.3s ease-in-out;
        z-index: 3;
    }

    &.open {
        span:nth-child(2) {
            display: none;
        }

        span:nth-child(1) {
            transform: rotate(-45deg) translate(-2px);
        }

        span:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -4px);
        }
    }
}

h1 {
    display: flex;
    margin: 0 auto;
    color: white;
    font-size: 1.3rem;
    align-items: center;
    text-transform: uppercase;
}
.material-symbols-outlined {
    color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.header-cart-price {
    span {
        background-color: rgb(175, 41, 65);
    }
}
.theme-toggle-button {
    background-color: #1E1E1E;
    border: none;
    width: 35px;
    height: 35px;
}
.material-symbols-outlined {
    color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.page-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
    margin-top: 50px;

    .page {
        min-height: 100vh;
    }
    h2 {
        text-align: center;
    }

    .page1 {
        grid-column: span 4;
        text-align: center;
        .product-details {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img {
            width: 280px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        button {
            display: inline-block;
        }
        .add, .subtract {
            width: 35px;
            height: 35px;
            font-size: 1.8rem;
            font-weight: bold;
            display: inline-block;
        }
        .addProduct {
            width: 110px;
            height: 35px;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .page2 {
        grid-column: span 4;
        text-align: center;
    }
    .page3 {
        margin: 20px;
        grid-column: span 4;
        input[type=text] {
            width: 100%;
            padding: 10px;
            border-radius: 2px;
            margin-top: 5px;
            margin-bottom: 14px;
            box-sizing: border-box;
        }
        
        input[type=submit],
        input[type=reset] {
            background-color: lightgray;
            border: 1px solid black;
            color: black;
            padding: 10px 15px;
            border-radius: 15px;
            cursor: pointer;
        }
        
        input[type=reset]:hover {
            background-color: rgb(217, 108, 108);
        }
        
        input[type=submit]:hover {
            background-color: gray;
        }
    }
}